:root {
    --default-color: black;
    --main-color: #192f59;
    --primary-color: #ff0000;
    --text-color1: white;
    --text-color2: beige;
    /* --secondary-color: #6F4E37; */
    /* --link-color: #966919; */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    transition: 0.2s ease;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

button{
    border: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* sub page css */

.sub_app_nav{
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    padding: 0.3rem 0.5rem;
    color: var(--text-color2);
    position: sticky;
    top: 0;
}

.sub_app_nav img{
    width: 60px;
    object-fit: contain;
    background-color: var(--text-color1);
    padding: 2px;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
}

.sub_app_nav h2{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
}